* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80vh;
    


}


.question {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: #b0bbc7 0px 4px 8px;
    padding: 15px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.score {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    align-self: flex-end;

}

.question-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.options {
    margin: 10px 0;
    
    
}

.start-quiz {
    
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: flex-end;
}

/* make the button at the end of horizontal line */
.next-btn {
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: flex-end;
    display: none;
        
}

.next-btn:hover {
    background: #0056b3;
}

.button{
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: center;
}

.button:hover {
    background: #0056b3;
}

.feedback {
    margin-top: 10px;
    font-weight: bold;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}
